.form-header {
    background: #1F2A44 !important;
}

.form-container {padding: 0 !important;}

.form-container {
    background-color: #fff !important;
    border-radius: 6px !important;
}
.step-item.active .step-number {
    border-color: #c81980 !important;
    color: white !important;
    background: linear-gradient(180deg, #D2175D 14.61%, #7B2FEB 373.21%) !important;
}
.step-number {
    border: 3px solid #7B2FEB !important;    
}
.step-label {
    color: #121212 !important;
}
.step-item.active .step-label {
    color: #D9237D !important;
}
.progress-bar-custom {
	height: 17px !important;
}
.progress-fill {
    background: #1F2A44;
}
h5.border-bottom {
    color: #000000 !important;
}
h5.border-bottom i {
    background: -webkit-linear-gradient(#9F3694, #5962B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
}
.btn-primary , .btn-outline-primary {
    background: linear-gradient(to right, #4D2FB2, #0E21A0) !important;
    color: #fff !important;
}

/* add css for golden yellow color for payment button */
.btn-primary-gold {
    background: linear-gradient(to right, #FFD700, #DAA520) !important;
    color: #fff !important;
}

.step-connector {
    background: #7054A7 !important;    
}
/* .step-number {
    border: 3px solid #7B2FEB !important;
} */
.step-label {
    color: #121212 !important;
}
.step-item.active .step-number {
    background: #4FC3F7;  
}
.step-item.active .step-label {
    color: #4FC3F7 !important;
}

.section-title i {
    background: #4FC3F7;
        -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.step-item.completed ~ .step-connector, .step-item.active ~ .step-connector {
    background: #4FC3F7;
}
.price-table .total-row td {
    background: #4FC3F7;
}
.section-title {
    border-color: #4D2FB2 !important;
}

.step-item.completed ~ .step-connector, .step-item.active ~ .step-connector {
    background: #7054A7 !important;
}
.step-number {
    /* background: #fff !important; */
    color: #4FC3F7 !important;
}
.step-item.active .step-number {
    background: #4FC3F7;
}
.step-item.active .step-label {
    color: #4FC3F7 !important;
}

.section-title {
	border-bottom: 2px solid var(--primary-color) !important;
}
.section-title i {
    background: #4FC3F7 !important;
}


.btn-primary-gold {
    background: linear-gradient(to right, #FFD700, #DAA520) !important;
    color: #fff !important;
}

.test {
    background: linear-gradient(to right, #FFD700, #DAA520) !important;
}



.progress-fill {
    background: #1F2A44;
}

.step-item.active .step-label {
    color: #4FC3F7 !important;
}
.step-item.active .step-number {
    background: #4FC3F7;
}

.step-item.active .step-label {
    color: #4FC3F7 !important;
}
.step-item.active .step-number {
    background: #4FC3F7;
}

.step-item.completed ~ .step-connector, .step-item.active ~ .step-connector {
    background: #4FC3F7 !important;
}

.section-title i {
    background: #4FC3F7 !important;
}