/* Write your custom CSS here */
* {
    font-size: 15px !important;
}

.badge.bg-danger{
    font-size: 14px !important;
}

.nav-link-text {
    font-size: 13px !important;
}
.badge .bg-danger{
    font-size: 13px !important;
}
.btn .btn-primary {
    font-size: 10px !important;
}

.sidenav-normal  {
    font-size: 12px !important;
}


