<div class="row mt-2" id="gst_india" style="display: block;">
    <div class="col-12 col-sm-3 mt-3 mt-sm-0">
        <label class="multisteps-form__input ms-0 red-label ">GST Compliance <span class="red-label">*</span></label>
        <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="choices__inner"><select class="multisteps-form__input red-label choices__input" name="gst_compliance" id="choices-sizes" required="" onchange="toggleGstNoRequired(this)" hidden="" tabindex="-1" data-choice="active"><option value="1">
            Yes
        </option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="1" data-custom-properties="null" aria-selected="true">
            Yes
        </div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--choices-sizes-item-choice-1" class="choices__item choices__item--choice choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="0" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">
            No
        </div><div id="choices--choices-sizes-item-choice-2" class="choices__item choices__item--choice is-selected choices__item--selectable" role="option" data-choice="" data-id="2" data-value="1" data-select-text="Press to select" data-choice-selectable="">
            Yes
        </div></div></div></div>
    </div>
    <div class="col-12 col-sm-3 mt-3 mt-sm-0">
        <label for="gstNo" id="gstlabel" class="form-label red-label ">GST / Tax
            Number</label>
        <div class="input-group input-group-dynamic is-filled">
            <input class="multisteps-form__input form-control" type="text" name="gst_no" id="gst_no" value="" onfocus="focused(this)" onfocusout="defocused(this)" fdprocessedid="v5bkq9">
            <small>Error message</small>
        </div>
    </div>
    <div class="col-12 col-sm-3 mt-3 mt-sm-0">
        <label for="pan_no" class="form-label red-label ">PAN Number</label>
        <div class="input-group input-group-dynamic is-filled">
            <input class="multisteps-form__input form-control" type="text" name="pan_no" id="pan_no" value="" onfocus="focused(this)" onfocusout="defocused(this)" fdprocessedid="hszjyf">
        </div>
    </div>
    <div class="col-12 col-sm-3 mt-3 mt-sm-0">
        <label for="tan_no" class="form-label red-label ">TAN Number</label>
        <div class="input-group input-group-dynamic is-filled">
            <input class="multisteps-form__input form-control" type="text" name="tan_no" id="tan_no" value="" onfocus="focused(this)" onfocusout="defocused(this)" fdprocessedid="lruw5s">
        </div>
    </div>
</div>
